#toolbar
  Connected as:
  = "#{session[:username]} (#{session[:subdomain]})"
  #logout
    %a{ :href => '/logout' } Log Out

%ul#sidebar
  %li.first.selected My Tickets
  - session[:projects].each_pair do |id,project|
    %li= "#{project}"
  
#pane-content
  #yscrolling
  #ticket-detail
    = haml(:detail)